:root {
    --header-bg: #343a40;
    --search-bg: rgb(230, 210, 210);
    --margin-header: 200px;
    --margin-main: 300px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    scroll-behavior: smooth;
}

header {
    background-color: var(--header-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 110px;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    margin-left: var(--margin-header);
}

.title > *, .title_container > p {
    margin: 4px;
    color: white;
}

.title > p:nth-child(2) {
    margin: 0;
    margin-left: 4px;
}

.app_title {
    font-size: 26px;
    font-weight: 600;
}

.openweathermap {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.header_icon {
    height: 30px;
    width: 30px;
    align-self: center;
}

.title_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

[type='text'] {
    margin-left: 50px;
    border-radius: 8px;
    background-color: var(--search-bg);
    height: 36px;
    outline: none;
    font-size: 24px;
    width: 500px;
}

.units {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    justify-content: space-evenly;
    margin-right: var(--margin-header);
    font-size: 20px;
    gap: 12px;
    background-color: var(--search-bg);
    border-radius: 12px;
    font-weight: 100;
}

.units > p {
    margin: 6px;
}

.units > p:hover {
    cursor: pointer;
} 

footer {
    background-color: var(--header-bg);
    width: 100%;
    color: white;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

main {
    flex-grow: 1;
    min-height: calc(100vh - 110px - 50px);
    margin-left: var(--margin-main);
    margin-right: var(--margin-main);
}

.summary {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 48px;
}

.summary_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary_icon {
    height: 184px;
    width: 184px;
}

.summary_elem p {
    font-size: 24px;
}

.summary_left > p {
    font-size: 28px;
    text-align: center;
    margin-top: 0;
}

.summary_elem {
    margin: 12px 0;
}

.summary_elem img {
    height: 54px;
    width: 54px;
}

.summary_elem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#temperature {
    font-size: 96px;
    margin: 0;
}

.summary_text p {
    margin: 4px;
}

.summary_text p:nth-child(1) {
    font-size: 16px;
}

.summary_text p:nth-child(2) {
    font-size: 24px;
}

.daily {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.daily_elem, .hourly_elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 24px;
}

.daily_elem:hover, .daily_active {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 12px;
    cursor: pointer;
}

.hourly {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 175px;
    display: none;
}

.daily, .hourly {
    flex-grow: 1;
}

.daily {
    margin-bottom: 24px;
}

.hourly_elem img {
    height: 52px;
    width: 52px;
}

.hourly_elem p {
    margin: 4px;
}

.hourly_elem p:nth-child(1) {
    font-size: 20px;
}

.hourly_elem p:nth-child(2) {
    font-size: 28px;
}

.daily_elem > * {
    margin: 4px;
}

.daily_weather {
    height: 52px;
    width: 52px;
}

.daily_extra {
    height: 24px;
    width: 24px;
}

.daily_maxtemp {
    background-color: tomato;
    border-radius: 8px;
}

.daily_maxtemp, .daily_mintemp {
    width: 64px;
    text-align: center;
}

.daily_maxtemp, .daily_mintemp, .daily_wind, .daily_rain, .daily_day {
    font-size: 20px;
}

.daily_wind, .daily_rain {
    text-align: center;
}

.daily_mintemp {
    background-color: lightskyblue;
    border-radius: 8px;
}

.menu {
    margin-top: 24px;
}

.menu, .submenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

button {
    border: none;
    background-color: inherit;
    font-size: 24px;
}

.leftarrow, .rightarrow {
    font-size: 36px;
    font-weight: 700;
}

.bullet {
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}

button:hover, .submenu > *:hover{
    cursor: pointer;
}

.active {
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.active_bullet {
    background-color: black;
}

.temperature_chosen {
    font-weight: 700;
}

.additional, .details {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 200px;
    border-radius: 24px;
    margin-bottom: 36px;
    background-color: var(--header-bg);
}

.additional_elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.additional_text, .additional_title {
    margin: 4px;
}

.additional_title {
    color: lightgrey;
    font-size: 18px;
}

.additional_text {
    color: white;
    font-size: 24px;
}

@media screen and (max-width: 1400px){
    :root {
        --margin-header: 12px;
        --margin-main: 12px;
    }
}

@media screen and (max-width: 950px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 200px;
        gap: auto;
    }

    .units {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
        gap: 12px;
        background-color: var(--search-bg);
        border-radius: 12px;
        font-weight: 100;
        margin: auto;
    }

    [type='text'] {
        border-radius: 8px;
        background-color: var(--search-bg);
        height: 36px;
        outline: none;
        font-size: 24px;
        width: 500px;
        margin: auto;
    }

    .summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .summary > .summary_right {
        grid-column: 1/-1;
    }

    .summary_right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 650px) {
    /* .daily {
        grid-template-columns: repeat(3, 1fr);
    } */
    .daily {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .daily_elem {
        display:  flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .additional, .details {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 75px;
        height: auto;
    }

    .hourly {
        grid-template-columns: repeat(4, 1fr);
    }

    .additional > .additional_elem:last-child {
        grid-column: 1/-1;
    }

    /* .daily_elem:last-child {
        width: 175px;
    } */
}

@media screen and (max-width: 500px) {
    html, body {width: auto!important; overflow-x: hidden!important} 

    [type='text'] {
        width: 250px;
    }

    .summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .summary_right {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .daily_elem {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
    }

    .daily_elem > * {
        margin: auto;
        margin-top: 4px;
    }

    .hourly {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hourly_elem {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    footer {
        font-size: 18px;
    }
}